*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainDiv{
  width: 100%;
  height: 100vh;
  display:grid;
  place-items: center;
  text-align: center;
  background-color: thistle;
  
}
.centerDIv{
 text-align: center;
 width: 30%;
 height: 80vh;
 background-color:white;
 box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
 border-radius: 15px;
}
h1{
  color: white;
  background: transparent;
  background-color: black;
  padding: 10px 0;
  margin-bottom: 10px;
  box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);;
}
input{
  text-align: center;
  padding: 5px; 
  border: none;
  border-bottom: 2px solid pink;
  outline: none;
  font-size: large;
  width: 40%;
}
.fa-plus{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 30px;
  background: transparent;
  background-color: thistle;
  outline: none;
  border: none;
}
.fa-plus:hover{
  background-color: greenyellow;
}

ol{
  margin: 15px 0;
}
h3{
  margin: 8px 0;
}
.todoStyle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px
}
.todoStyle .icon{
  display: flex;
  float: right;
}
.addItems{
  display: flex;
  justify-content: center;
  width: 100%;
}
.todoStyle .fa-times , .fa-edit{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    background-color: thistle;
    color: white;
    margin: 0 5px;
}
.todoStyle .fa-times:hover , .fa-edit:hover{
  background-color: red;
}
.todoStyle .fa-times:hover{
  color: tomato;
}
.showItems button{
  border-radius:8px;
  padding: 10px;
}
.showItems button:hover{
  background-color: tomato;
}